@model IEnumerable<ASPImageApplication.Models.Image>

@{
    ViewData["Title"] = "Home Page";
}

<h2>Public gallery</h2>

<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-4">
            <img src="@Url.Action("DisplayPublic", new { dbId = item.ImageId })" class="img-rounded" alt="@item.FileName" />
            <div class="col-md-2">
                <p>
                    <b>Owner:</b> @Html.DisplayFor(modelItem => item.Owner)
                </p>
                <p>
                    <b>Title:</b> @Html.DisplayFor(modelItem => item.Title)
                </p>
                <p>
                    <b>Likes:</b> @Html.DisplayFor(modelItem => item.Likes)
                </p>
                <form asp-controller="Home"
                      asp-action="Like">
                    <input type="hidden" name="imageId" value="@item.ImageId" />
                    <input type="submit" value="Like" class="btn btn-info" />
                </form>
            </div>
        </div>
    }
</div>

